* {
  box-sizing: border-box;
}
button {
  padding: .6rem 1rem;
}



/*CUSTOM UTILITY CLASSES*/
.error {
  display: inline-block;
  color: var(--secondary);
  margin: .5rem auto;
  padding: 1rem;
  border-radius: 8px;
  outline: 1px solid var(--secondary);
}
.error__detail {
  font-weight: bold;
}